{{> menu}}
<section class="section columns is-vcentered">
    <div class="column">

        <div class="column is-box">
            <div class="name title">
                {{poi.name}}
            </div>
            <div>
                <p >{{poi.description}}</p>

            </div>
            <div>
                <p >Latitude: {{poi.location.latitude}}</p>

            </div>
            <div>
                <p >Longitude: {{poi.location.longitude}}</p>

            </div>
            <div>
                <p >Category: {{poi.categoryName}}</p>

            </div>
        </div>


        {{> change-poi}}
    </div>
    <div class="column is half">
        {{> poi-image}}
    </div>

</section>